body {
    height: 5000px;
}

.up {
    background-color: violet;
    width: 5%;
    text-align: center;
    position: fixed;
    bottom: 80px;
    right: 80px;
    transition: all .5s ease;
}

.up.show {
    transition: all .5s ease;
    right: 1200px;
}